.about-container {
    -fx-background-color: transparent;
    -fx-background-image: url("../img/splash.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-insets: 0;
}

.version {
    -fx-font-weight: 700;
    -fx-font-size: 14;
    -fx-text-fill: #535353;
    -fx-pref-width: -1;
    -fx-max-width: Infinity;
}

.open-source {
    -fx-font-weight: 700;
    -fx-font-size: 14;
    -fx-text-fill: #535353;
    -fx-pref-width: -1;
    -fx-max-width: Infinity;
    -fx-border-width: 0px;
    -fx-padding: 0;
    -fx-underline: true;
}