.control-menu {
    -fx-background-color: rgba(255,255,255,1);
    -fx-pref-width: 284px;
    -fx-max-width: 284px;
    -fx-min-width: 284px;
}

.control-menu-scrollBar {
    -fx-focus-color: transparent;
    -fx-background-color: transparent;
    -fx-fit-to-height: true;
    -fx-fit-to-width: true;
}

.control-menu-scrollBar > .viewport {
    -fx-background-color: rgba(255,255,255,1);
}

.control-menu-scrollBar .scroll-bar {
    -fx-background-color: transparent;
    -fx-pref-width: 10px;
}

.control-menu-scrollBar .scroll-bar:vertical .thumb {
    -fx-background-color: #9b9b9b;
    -fx-background-radius: 5px;
}

.control-menu-scrollBar .increment-arrow, .control-menu-scrollBar .decrement-arrow {
    -fx-pref-height: 0px;
}

.control-menu-section-header {
    -fx-background-color: #f9f9f9;
}

.control-menu-section-header-left-padding {
    -fx-pref-width: 3px;
}

.control-menu-section-header-right-padding {
    -fx-pref-width: 15px;
}

.control-menu-section-header-text {
    -fx-font-weight: 700;
    -fx-font-size: 14px;
}

.control-menu-section-header {
    -fx-background-color: #f9f9f9;
}

.control-menu-subSection-header {
    -fx-padding: 10 0 0 0;
    -fx-background-insets: 10 0 0 0;
    -fx-background-color: #f9f9f9;
    -fx-pref-height: 45px;
    -fx-min-height: 45px;
    -fx-max-height: 45px;
}

.control-menu-section-header-addtext {
    -fx-font-size: 14px;
    -fx-text-fill: #9b9b9b;
    -fx-font-style: italic;
}

.control-menu-subSection-header-text {
    -fx-font-weight: 700;
    -fx-font-size: 16px;
    -fx-text-fill: #9b9ea0;
    -fx-padding: 0 0 0 15;
}

.control-menu-footer-container {
    -fx-background-color: rgba(255,255,255,1);
    -fx-padding:20;
}

.control-button {
    -fx-border-style: none;
    -fx-background-color: #337ab7;
    -fx-border-radius: 0;
    -fx-pref-width: 200px;
    -fx-pref-height: 46px;
    -fx-min-height:46px;
    -fx-text-fill: #ffffff;
    -fx-font-weight: 800;
}


.control-button-back {
    -fx-border-style: solid;
    -fx-border-color: #bfbfbf;
    -fx-border-width: 1px;
    -fx-border-radius: 2;
    -fx-pref-width: 200px;
    -fx-pref-height: 46px;
    -fx-min-height:46px;
    -fx-text-fill: #337ab7;
    -fx-font-weight: 800;
    -fx-background-insets: 0;
    -fx-background-color: #ffffff;

}

.control-button:hover {
    -fx-cursor: hand;
}

.control-label {
    -fx-pref-width: 200px;
    -fx-max-width: 200px;
    -fx-min-width: 200px;
    -fx-padding: 20 0 8 20;
    -fx-font-weight: 500;
    -fx-font-size: 14px;
}

.control-textInput {
    -fx-pref-width: 244;
    -fx-pref-height: 36;
    -fx-min-height: 36;
}
.control-slider {
    -fx-pref-width: 162px;
    -fx-max-width: 162px;
    -fx-min-width: 162px;
}

.control-slider .track {

    -fx-background-color: null ;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 1 0 1 0px;
}
.control-slider .thumb {
    -fx-background-color:#00bff0;
    -fx-padding: 8px;
}

.control-slider .thumb:disabled{
    -fx-background-color:#bfbfbf;
}

.control-slider-progress {
    -fx-pref-width: 150px;
    -fx-pref-height: 3px;
    -fx-background-color:#ffffff;
}

.control-slider-progress  .track {
    -fx-pref-height: 3px;
    -fx-background-color: #bfbfbf;
}

.control-slider-progress > .bar {
    -fx-padding: 1px;
    -fx-background-insets: 0;
    -fx-background-color: #00bff0;
}

.control-slider-progress > .bar:disabled {
    -fx-background-color: #bfbfbf;
}

.control-toggle-group {
    -fx-pref-width: 244px;
    -fx-min-width: 244px;
    -fx-max-width: 244px;
}
.control-toggle-group ToggleButton {
    -fx-background-color: white;
    -fx-pref-height: 36px;
    -fx-min-height: 36px;
    -fx-border-color: #bfbfbf;
    -fx-border-radius: 0px;
    -fx-background-insets: 0;
    -fx-cursor: hand;
}

.control-toggle-group ToggleButton:selected {
    -fx-background-color: #00bff0;
    -fx-text-fill: #ffffff;
}

.control-toggle-group ToggleButton:selected:disabled{
    -fx-background-color: #bfbfbf;
}

.control-toggle-group-button-first {
    -fx-border-radius:3 0 0 3px;
    -fx-background-radius: 3 0 0 3px;
    -fx-border-width: 1 0 1 1px;
}

.control-toggle-group-button-last {
    -fx-border-radius:0 3 3 0px;
    -fx-background-radius: 0 3 3 0px;
    -fx-border-width: 1 1 1 0px;
}
.control-value {
    -fx-font-weight:500;
}

.control-slider-value {
    -fx-font-weight:500;
}
.control-slider-text {
    -fx-pref-height: 50;
    -fx-min-width: 50;
}
.control-slider-text:error {
    -fx-text-box-border: red;
    -fx-focus-color: red;
}

.control-checkBox {
    -fx-font-weight:600;
    -fx-font-size:14px;
    -fx-padding: 0 0 20 0;
}
.control-checkBox > .box {
    -fx-background-color: #ffffff;
    -fx-border-color: #bfbfbf;
    -fx-border-width: 1px;
    -fx-border-insets: 0;
    -fx-border-radius: 3px;
}

.control-checkBox:selected .box {
    -fx-background-color: #21c1ef;
    -fx-border-color: #21c1ef;
}

.control-checkBox:selected .mark {
    -fx-background-image: url("../img/control_menu/checkmark.png");;
    -fx-background-position: center;
    -fx-background-repeat: stretch;
    -fx-background-insets: 0;
    -fx-shape: none;
}

.control-checkBox:selected:disabled .mark {
    -fx-background-image: none;
    -fx-background-color: #cccccc;
}

.control-checkBox:disabled .box {
    -fx-background-color: #cccccc;
}

.control-comboBox {
    -fx-background-color: #ffffff;
    -fx-border-color: #bfbfbf;
    -fx-border-radius: 3px;
    -fx-pref-width: 244;
    -fx-min-height: 36;
    -fx-pref-height: 36;
}

.control-comboBox .arrow{
    -fx-shape: none;
    -fx-padding: 4 6;
    -fx-background-color: #121212;
    -fx-background-position: center;
    -fx-background-insets: 0;
    -fx-background-size: stretch;
    -fx-background-image:  url("../img/control_menu/comboBox-arrow.png");
}

.control-comboBox .context-menu{
    -fx-background-color: antiquewhite ;
    -fx-pref-width: 244;
    -fx-padding: 5 5 5 5;
}

.control-comboBox .list-view .list-cell:hover {
    -fx-background-color: #45beef;
}

.control-comboBox .list-view .list-cell:selected {
    -fx-font-weight: bold;
    -fx-background-color: #ffffff;
    -fx-text-fill: #000000;
}

.control-comboBox .list-view .list-cell:selected:hover {
    -fx-background-color: #45beef;
}

.control-comboBox:disabled {
    -fx-background-color:  #cccccc;
}

.control-choiceBox {
    -fx-background-color: #ffffff;
    -fx-border-color: #bfbfbf;
    -fx-border-radius: 3px;
    -fx-pref-width: 300;
    -fx-min-height: 40;
    -fx-pref-height: 40;
}
.control-choiceBox .context-menu {
    -fx-pref-width: 270;
}



.control-progress {
    -fx-pref-width: 300;
}

.control-progress > .bar {
    -fx-padding: 0.2em;
    -fx-background-insets: 1 1 2 1;
}

.control-advSettingsToggle{
    -fx-padding: 15 0 8 20;
    -fx-text-fill: #337ab7;
    -fx-font-weight: 700;
    -fx-cursor: hand;
}

.control-text-label {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.control-text-value {
    -fx-font-size: 14px;
}

.add-control-button{
    -fx-pref-width:1;
    -fx-pref-height:1
}

.collapse-button {
    -fx-pref-width: 200px;
    -fx-pref-height: 160px;
    -fx-min-height: 100px;
}

.button-group{
    -fx-border-width: 1;
    -fx-cursor: hand;
}

.button-group-first{
    -fx-border-radius: 3 0 0 3;
    -fx-background-radius: 3 0 0 3;
}

.button-group-last{
    -fx-border-radius: 0 3 3 0;
    -fx-background-radius: 0 3 3 0;
    -fx-border-width: 1 1 1 0;
}

.control-menu-increment-button {
    -fx-pref-height: 36px;
    -fx-max-height: 36px;
    -fx-min-height: 36px;
    -fx-pref-width: 40px;
    -fx-max-width: 40px;
    -fx-min-width: 40px;

    -fx-background-size: 16 16;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

    -fx-border-color: #bfbfbf;

    -fx-text-fill: #337ab7;
    -fx-font-size: 5px;
    -fx-font-weight: bold;
    -fx-background-color: #ffffff;

}

.control-menu-increment-button:disabled {
    -fx-border-color: #bfbfbf;
}

.minus-button {
    -fx-background-image: url("../img/control_menu/minus-normal.png");
}

.minus-button:disabled {
    -fx-background-image: url("../img/control_menu/minus-disabled.png");
}

.plus-button{
    -fx-background-image: url("../img/control_menu/plus-normal.png");
}

.plus-button:disabled {
    -fx-background-image: url("../img/control_menu/plus-disabled.png");
}

.control-menu-btnPicker-button {
    -fx-pref-height: 36px;
    -fx-pref-width: 88px;
    -fx-border-color: #bfbfbf;

    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: #ffffff;

}

.control-menu-component-container {
    -fx-padding: -5 0 5 0;
}

.control-menu-component-container-checkbox {
    -fx-padding: -5 0 -15 0;
}


/* DIVIDER REGIONS */
.top-label-padding {
    -fx-pref-height: 1px;
}
.left-control-hpadding {
    -fx-pref-width: 20px;
}

.right-control-hpadding {
    -fx-pref-width: 22px;
}

.bottom-control-vpadding {
    -fx-pref-height: 10px;
}

