.main-panel {
    -fx-padding: 7px 10px 7px 10px;
    -fx-spacing: 60px;
    -fx-border-color: white;
    -fx-border-width: 0px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.08), 10, 0.0, 0, 6);
}

.main-panel-group {
    -fx-spacing: 0px;
}

.main-panel-button {
    -fx-padding: 5px 5px 0px 5px;
    -fx-min-width: 60px;
    -fx-pref-height: 40px;
    -fx-font-size: 12px;
    -fx-alignment: bottom-center;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center 3px;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0;
    -fx-text-fill: black;
}

.main-panel-button {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.main-panel-button:pressed {
    -fx-background-color: #e5e5e5;
}

.add-button {
    -fx-background-image: url("../img/main_panel/add-normal.png");
}

.undo-button {
    -fx-background-image: url("../img/main_panel/undo-normal.png");
}

.redo-button {
    -fx-background-image: url("../img/main_panel/redo-normal.png");
}

.group-button {
    -fx-background-image: url("../img/main_panel/group-normal.png");
}

.ungourp-button {
    -fx-background-image: url("../img/main_panel/ungroup-normal.png");
}

.center-button {
    -fx-background-image: url("../img/main_panel/center-normal.png");
}

.left-button {
    -fx-background-image: url("../img/main_panel/left-normal.png");
}

.right-button {
    -fx-background-image: url("../img/main_panel/right-normal.png");
}

.front-button {
    -fx-background-image: url("../img/main_panel/front-normal.png");
}

.back-button {
    -fx-background-image: url("../img/main_panel/back-normal.png");
}

.reset-view-button {
    -fx-background-image: url("../img/main_panel/reset-view-normal.png");
}

.top-view-button {
    -fx-background-image: url("../img/main_panel/top-view-normal.png");
}

.perspective-on-button {
    -fx-background-image: url("../img/main_panel/perspective.png");
}

.perspective-off-button {
    -fx-background-image: url("../img/main_panel/parallel.png");
}