.tooltip-overlay {
    -fx-background-color: transparent;
}

.tooltip-wrapper{
    -fx-pref-width: 300px;
    -fx-border-width: 1px;
    -fx-background-color: transparent;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.18), 10, 0.0, 0, 0);
}

.title-wrapper {
    -fx-background-color: #f9f9f9;
    -fx-border-width: 0;
    -fx-padding: -5px;
}
.title{
    -fx-pref-height: 45px;
    -fx-font-size: 16;
    -fx-alignment: center-left;
    -fx-padding: 13 0 13 15px;
    -fx-font-weight: bold;
}

.image-wrapper {
    -fx-padding: 20 20 0 20px;
    -fx-background-color: white;
}

.image-wrapper-collapsed {
    -fx-padding: 0px;
}

.close-btn-box {
    -fx-padding: 15 5 10 5;
}
.close-btn{
    -fx-pref-height: 16px;
    -fx-pref-width: 32px;
    -fx-max-height: 16px;
    -fx-max-width: 16px;
    -fx-min-width: 32px;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-image: url("../img/close.png");
    -fx-background-size: 24 24px;
    -fx-background-repeat: no-repeat;
}

.text-wrapper {
    -fx-background-color: #ffffff;
    -fx-padding: 20 20 40 20px;
}

.arrow-wrapper {
    -fx-background-color: transparent;
    -fx-padding: 5 10;
    -fx-background-repeat: no-repeat;
    -fx-pref-width: 10px;
}

.arrow-top {
    -fx-background-image: url('/img/tooltip/arrow_grey.png');
    -fx-background-position: 0 13px;
}

.arrow-bottom {
    -fx-background-image: url('/img/tooltip/arrow_white.png');
    -fx-background-position: bottom left;
    -fx-background-insets: 5;
}

